<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Interactive Calculator Thing</title>
  <link rel="stylesheet" href="//s3.amazonaws.com/static.texastribune.org/COMPRESSED/css/0dc3dbc17577.css">
  <link rel="stylesheet" href="//s3.amazonaws.com/static.texastribune.org/common/fonts/fonts.css">
  <link rel='stylesheet' href="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css">
  <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='css/MarkerCluster.Default.css' rel='stylesheet' />  <link rel="stylesheet" href="css/style.css">
</head>
<body class="flatpage responsive">

<div class="wrapper content-wrapper">
<section id="site_content" class="content bare">
    <div class="grid">
        <header>
          <h1>Interactive: Where Are Abortion Providers in Texas</h1>
          <ul class="meta separator clearfix">
            <li class="byline">by <a href="http://www.texastribune.org/about/staff/ryan-murphy/">Ryan Murphy</a> and <a href="http://www.texastribune.org/about/staff/becca-aaronson/">Becca Aaronson</a></li>
            <li>March 15, 2014</li>
          </ul>
        </header>
    </div>

    <div class="grid">
        <div class="cell w-12 prose">
        <p>Abortion, abortion abortion.</p>
        </div>
    </div>

    <div class="grid filters">
        <div class="cell w-12">
            <dl class="altered-select-item">
                <dt style="text-align: center;">
                    Show Your Nearest Abortion Providers <i class="icon-spinner icon-spin hidden" id="load-indicator"></i>
                </dt>

                <div class="geolocate" id="geolocate">
                    <form class="geo-search">
                        <div class="cell w-2 form-group">
                            <button type="button" class="form-button form-button-blue find-me" id="find-me">Find me</button>
                        </div>
                        <div class="cell w-1 or-text">
                            or
                        </div>
                        <div class="cell w-5 form-group">
                            <input type="text" class="form-control" placeholder="Insert address OR ZIP Code">
                        </div>
                        <div class="cell w-2 form-group">
                            <button type="submit" class="form-button form-button-slate search" id="search">Search</button>
                        </div>
                    </form>
                </div>
                <div class="geolocate" id="reset-view">
                    <div class="cell w-2 form-group">
                            <button type="submit" class="form-button form-button-slate reset" id="reset-view">Reset</button>
                    </div>
                </div>
            </dl>
        </div>
    </div>

    <div class="grid">
        <div class="cell w-7">
            <div class="map" id="map"></div>
        </div>
        <div class="cell w-5">
            <div class="feedback-container" id="feedback-container"></div>
        </div>
    </div>

    <div class="grid">
    <!-- <div class="flatpage-footer" id="flatpage-footer"> -->
        Source: <a href="http://www.dshs.state.tx.us/">Texas Department of State Health Services</a> | <a href="http://www.texastribune.org/library/data/data-feedback/">Feedback</a>
    </div>

    <script type="text/template" id="feedback-template">

    <div class="navigator-div-icon" style="width: 20px; height: 20px;"><%= index %></div>
    <div><%= Name %></a></div>
    <div><%= Address %><br><%= Rank %></div>


    </script>
</section>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<!-- mapping -->
<script src="//api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<script src="js/findnearestpoint.min.js"></script>
<script src="js/Leaflet.MakiMarkers/Leaflet.MakiMarkers.js"></script>

<!-- backbone -->
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.1.0/lodash.underscore.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

<!-- data -->
<script src="data/abortion_data.js"></script>

<script src="js/script_edit.js"></script>
</body>
</html>
